{% paginate search.results by 6 %}

  <h2>Here is the Search result</h2>

  <div class="grid_1">
    {% for product in search.results %}
      <div class="containers">

        <div style="height:250px;">
          <img src="{{ product.featured_image | image_url}}" />
        </div>
        <h4>{{ product.title }}</h4>
        <p>{{ product.price | money }}</p>

        <a href="{{ product.url }}">
          <button class="btn">View</button>
        </a>

      </div>
      {{ item.content | highlight: search.terms }}
    {% endfor %}
  </div>


  {{ paginate | default_pagination }}
{% endpaginate %}