<div>
  <div class="w-full h-[350px]">
    <img
      class="w-[100%] h-[100%]"
      src="{{ product.featured_image | image_url }}"
      alt="">
  </div>
  <a href="{{ product.url }}">
    <h1 class="text-[18px] font-[600] text-[#1E2D7D] hover:text-[blue] mt-4">{{ product.title }}</h1>
  </a>
  <p class="mt-2 mb-4">{{ product.price | money }}</p>

  <!-- Add to Cart Button with JavaScript -->
  <button onclick="addToCart('{{ product.variants.first.id }}')" class="customBtn">Add to Cart</button>
</div>